<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 6: Quote Finder</title>
</head>

<body>

    <%- include("partials/header.ejs") %>
    <form action="/searchByKeyword" method="GET">
        Keyword: <input type="text" name="Keyword">
        <button>Search by Keyword</button>
    </form>
    <br>
    <form action="/searchByAuthor" method="GET">
        Author: 
        <select>
            <% for(let i of authors) { %>
                <option value="<%=i.authorId %>"><%=i.firstName%> <%=i.lastName%></option>
            <%}%>
        </select>
    </form>
    <br>
    <%- include("partials/footer.ejs") %>
</body>

</html>